*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anuphan', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #DCD7D0;
    --text-color: #fff;
    --main-color: #bce804;
}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #04492E;
    padding: 20px 12%;
    transition: all .50s ease;
    border-radius: 0 0 30px 30px;
}
.logo{
    color: var(--text-color);
    font-size: 1.9rem;
    font-weight: 600; 
    transition: all .50s ease;   
}
.logo:hover{
    color: #d7d7d7;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .30s ease;
}
.navbar a:hover{
    color: #d7d7d7;
}
.social_link a{
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 20px;
    transition: all .30s ease;
}
.social_link a:hover{
    color: #d7d7d7;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}
@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        background: var(--main-color);
        border-radius: 10px;
        padding: 10px;
        transition: all .50s ease;
        display: initial;
    }
    .navbar a{
        color: #04492E;
        padding: 10px 5px;
    }
    .navbar a:hover{
        background: #04492E;
        color: #bce804;
    }
    .categories{
        display: flex;
        flex-direction: column;
    }
    .social_link{
        position: absolute;
        top: 330%;
        right: -100%;
        width: 270px;
        background: var(--main-color);
        border-radius: 10px;
        padding: 20px 10px;
        transition: all .50s ease;
        display: initial;
    }
    .social_link a{
        color: #04492E;
    }
    .navbar.open{
        right: 2%;
    }
    .social_link.open{
        right: 2%;
    }
}
@media (min-width: 1090px){
    #menu-icon{
        position: absolute;
        top: 100%;
        right: -100%;
    }
}